body{
  background-color: rgb(183, 175, 186);
  }  
h1{
  margin: auto;
  font-family: "Garamond", "Palatino", serif;
  text-align: center;
}

h3{
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  padding-top: 6px;
  padding-bottom: 6px;
}

p{
  font-family: sans-serif;
}
